@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Car Service Rest Api!</h1>
     <img src="~/img/car-service-home.jpg" style="width: 75vh" />
     <p>In the era of technological advancements and the rapid evolution of the automotive industry, finding a reliable and top-quality car service center is of paramount importance. In light of these factors, we present to you the ultimate car service center that not only provides exceptionally dependable service but also meets your requirements with unparalleled excellence.

Our company stands out with innovative solutions, backed by a comprehensive understanding of automotive maintenance and repair. We take pride in offering an exceptional range of services that cater to all your car's needs, ensuring its optimal performance and longevity.

What sets us apart from the rest? Firstly, our team consists of highly skilled professionals with extensive expertise in the field of automotive maintenance. They undergo continuous training to stay up-to-date with the latest industry trends and technological innovations. This enables us to deliver services of the highest quality, guaranteeing your complete satisfaction.</p>
</div>

   
</div>
